body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 4fr;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Side Bar */

.sidebar {
  background-color: #0EA5E9;
  grid-row: 1 / span 2;
}

.sidebar a, .sidebar .logo {
  color: #ffffff;
  font-weight: 700;
}

/* Header */

.header {
  background-color: #F0F9FF;
  grid-column: 2;
}

/* Main Content */

.main-content {
  background-color: #BAE6FD;
  grid-column: 2;
}