@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 1fr 4fr;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.profile-image {
  border-radius: 100%;
}

/* Side Bar */

.sidebar {
  background-color: #0284c7;
  grid-row: 1 / span 2;
}

.sidebar a,
.sidebar .logo {
  color: #ffffff;
  font-weight: 700;
}

.logo {
  margin-left: 16px;
}

.sidebar ul {
  margin-left: 8px;
  padding-left: 8px;
  display: grid;
  row-gap: 16px;
  margin-bottom: 48px;
  margin-top: 32px;
}

.sidebar ul li a,
.logo {
  display: grid;
  grid-template-columns: 40px 1fr;
  align-items: center;
}

.sidebar img {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(286deg)
    brightness(103%) contrast(103%);
}

/* Header */

.header {
  background-color: #ffffff;
  grid-column: 2;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding-top: 8px;
  align-items: start;
  padding: 8px 48px 8px 16px;
}

.searchbar {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 16px;
  gap: 16px;
}

input.search {
  border: none;
  background-color: #cbd5e1;
  width: 90%;
  border-radius: 12px;
  padding: 4px 16px;
}

.account {
  display: grid;
  grid-template-columns: auto auto 1fr;
  gap: 28px;
  align-items: center;
  justify-items: center;
  justify-self: end;
  padding-right: 16px;
}

.account .name {
  justify-self: start;
}

.hi-message {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 16px;
  gap: 16px;
}

.hi-message span {
  grid-column: 2;
}

.hi-message h3 {
  margin: 0;
}

.project-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 32px;
  align-self: center;
}

.project-buttons button {
  border: none;
  background-color: #0284c7;
  color: white;
  padding: 8px 24px;
  border-radius: 24px;
  font-weight: bold;
}

/* Main Content */

.main-content {
  background-color: #e2e8f0;
  grid-column: 2;
  padding-left: 32px;
  padding-right: 32px;
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-template-rows: auto 1fr;
  column-gap: 48px;
}

.projects {
  grid-row: span 2;
}

.projects .cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 32px;
}

.projects h4 {
  margin-bottom: 8px;
}

.card {
  border-left: 8px solid #fcd34d;
  border-radius: 8px;
  padding: 24px 16px;
  background-color: white;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.card p {
  margin: 0;
}

.card .project-description {
  font-size: 0.9rem;
  font-weight: 200;
}

.card .icons {
  margin-top: 16px;
  justify-self: end;
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 32px;
  margin-right: 16px;
}

.trending,
.announcements {
  grid-column: 2;
}

.announcements h4 {
  margin-bottom: 8px;
}

.announcements h5 {
  margin: 8px 0 0;
}

.announcements p {
  margin-top: 0;
  font-size: 0.8rem;
  font-weight: 200;
  line-height: 1rem;
}

.announcements > div {
  background-color: white;
  border-radius: 8px;
  padding: 16px 32px;
}

.announcements > div > div {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 8px;
  margin-bottom: 16px;
}

.announcements > div > div:last-child {
  border-bottom: 0;
  margin-bottom: 0;
}

.trending > div {
  background-color: white;
  padding: 4px 32px;
  border-radius: 8px;
}

.trending > div > div {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  align-items: center;
  margin: 32px 0;
  column-gap: 16px;
}

.trending .profile-image {
  grid-row: 1 / span 2;
}

.trending .profile-name,
.trending .description {
  grid-column: 2;
  margin: 0;
}

.trending .profile-name {
  font-size: 0.9rem;
}

.trending .description {
  font-size: 0.8rem;
  font-weight: 200;
}
